.table-striped {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
    position: absolute;
    top: 75px;
    left: 10px;
}


.btn-group-vertical button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    padding: 10px 30px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 3px;
    cursor: pointer;
    position: relative;
    top: 300px;
    left: 1000px;
    display: block;


}