.login-container {
    background-color:lightgray;
    width:300px;
    margin:25px auto;
    padding: 20px;
    border-radius: 10px;
}

.login-register-container {
    background-color:lightgray;
    margin:25px auto;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
}