.login-container {
    background-color:lightgray;
    width:300px;
    margin:25px auto;
    padding: 20px;
    border-radius: 10px;
}

.login-register-container {
    background-color:lightgray;
    margin:25px auto;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
}

.request-help-container {
    background-color: coral;
    width:  350px;
    margin: 25px auto;
    border-radius: 10px;
    padding: 20px;

}

.request-submitted-container {
    background-color: coral;
    width:  350px;
    margin: 25px auto;
    border-radius: 10px;
    padding: 20px;
}

.contact-submitted-container {

    background-color: coral;
    width:  350px;
    margin: 25px auto;
    border-radius: 10px;
    padding: 20px;

}

.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
