<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="  sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<div th:replace="../static/html/navbar :: navbar-auth"></div>
<div class="container">
    <div class="container" style="padding-top:10px;padding-bottom:5px;">
        <div class="float-left">
            <h2>About Us</h2>
        </div>
    </div><br>
    <div class="border-top my-3" style></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto mb-3" style="width:50%">
                <div class="card">
                    <div class="card-body">
                        <h4>Nikhil Rajaram</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Founder</h6>
                        <p class="card-text">Aspiring Data Scientist.</p>
                        <p class="card-text">nikhil.rajaram@colorado.edu</p>
                        <button class="btn btn-primary" onclick="window.open('mailto:nikhil.rajaram@colorado.edu')">Contact</button>
                    </div>
                </div>
            </div>
            <div class="col-auto mb-3" style="width:50%">
                <div class="card">
                    <div class="card-body">
                        <h4>Tuqa Alaithan</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Founder</h6>
                        <p class="card-text">CS senior student at University of Colorado Boulder.</p>
                        <p class="card-text">tuqa.alaithan@colorado.edu</p>
                        <button class="btn btn-primary" onclick="window.open('mailto:tuqa.alaithan@colorado.edu')">Contact</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>