<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Failed Check Out</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="../static/html/navbar :: navbar-auth"></div>
<div class="container">
    <div class="alert alert-info">
        <strong>Failed to check out this item.</strong> Reason: <p style="display:inline" th:text="${reason}"></p>
        <ul class="list-group" th:if="${reason.equals('User has overdue books.')}" th:each="record : ${overdueItemRecords}">
            <li class="list-group-item" th:text="'Item ' + ${record.getItemId()} + ' was due on ' + ${record.getReturnByDate()}"></li>
        </ul>
    </div>
    <button class="btn btn-primary" type="button" onclick="{window.location='/'}">Go to home page</button>
    <button class="btn btn-secondary" type="button" onclick="{window.location='/checkOutPhysicalItem'}">Check out another item</button>
</div>
</body>
</html>