<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="  sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="../static/html/navbar :: navbar-auth"></div>
    <!-- books preview -->
    <div class="container">
        <div class="container" style="padding-top:10px;padding-bottom:5px;">
            <div class="float-left">
                <h2>Books</h2>
            </div>
            <div class="float-right">
                <a href="/">See more</a>
            </div>
        </div><br>
        <div class="border-top my-3" style></div>
        <div class="row">
            <div class="col d-flex align-items-stretch" th:width="${100/books.size()}" th:each="book: ${books}">
                <div th:replace="../static/html/item-card :: bookCard"></div>
            </div>
            <script>$(".card-text").each((i, x) => {x.innerText = x.innerText.substring(0, 250) + '...'})</script>
        </div>
    </div>
    <br/><br/>
    <!-- movies preview -->
    <div class="container">
        <div class="container" style="padding-top:10px;padding-bottom:5px;">
            <div class="float-left">
                <h2>Movies</h2>
            </div>
            <div class="float-right">
                <a href="/">See more</a>
            </div>
        </div><br>
        <div class="border-top my-3" style></div>
        <div class="row">
            <div class="col d-flex align-items-stretch" th:width="${100/movies.size()}" th:each="movie: ${movies}">
                <div th:replace="../static/html/item-card :: movieCard"></div>
            </div>
            <script>$(".card-text").each((i, x) => {x.innerText = x.innerText.substring(0, 250) + '...'})</script>
        </div>
    </div>
</body>
</html>