	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Home</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/css/librarian-style.css" type="text/css">
		</head>


	<body id="librarian-page">


			<h2>Item List</h2>

			<table class="item-table">
			  <tr>
				<th>Item Name</th>
				<th>Item ID</th>
				<th>Status</th>
				<th>Action</th>
			  </tr>
			  <!-- List items here -->
			  <tr>
				<td> </td>
				<td> </td>
				<td> </td>
				<td><button  type="button" onclick="alert('Item Removed!')">Remove</button></td>
			  </tr>
			  <tr>
				<td> </td>
				<td> </td>
				<td> </td>
				<td><button  type="button" onclick="alert('Item Removed!')">Remove</button></td>
			  </tr>
				<tr>
				<td> </td>
				<td> </td>
				<td> </td>
				<td><button  type="button" onclick="alert('Item Removed!')">Remove</button></td>
			  </tr>
			</table>


				<div class="btn-group-vertical">
					  <button>Add Item</button>
					  <button>Check Requests</button>
					  <button>Sign out</button>

			  </tr>
		</div>
	</body>
</html>