<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Request Submitted</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="../static/css/request-style.css" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-success" role="alert">
                Your request has been sent. A librarian will help you shortly.
                <div class="form-group">
                    <button type="button" onclick="window.location='/home.html'" class="btn btn-primary" style="width:100%">Go to home page</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>