<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Request Submitted</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="../static/css/request-style.css" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script></head>
<body>
<div class="container">


        <h1>Request Submitted. A librarian will assist you shortly.</h1>
    <div class="form-group">
        <button type="submit" onclick="window.location='/'" class="btn btn-primary" style="width:100%">Go to home page</button>
    </div>

</div>
</body>
</html>